body {
  margin: 0;
  padding: 0;
  background: url(fondo.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: rgba(58, 186, 241, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}
h2 {
  background-color: #33A8DB;
  color: white;
  margin: 0;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 24px;
}
img {
  width: 80px;
  margin: 20px 0;
}
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  background: transparent;
  font-size: 16px;
  outline: none;
}
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 20px 0;
  background-color: #f3f3f3;
  color: #333;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #ddd;
}
a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}